docs/Renoise_3_5_4_Demo_Linux_x86_64/Resources/Schemas/InstrumentPhrase2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="InstrumentPhrase" type="InstrumentPhrase"/>
  <xs:complexType name="InstrumentPhrase">
    <xs:all>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Lines" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Line" minOccurs="0" maxOccurs="unbounded" type="PatternLineNode"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="Autoseek" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="LinesPerBeat" type="xs:int" default="4" minOccurs="0"/>
      <xs:element name="ShuffleIsActive" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="ShuffleAmounts" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ShuffleAmount" type="xs:int" default="0" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NumberOfLines" type="xs:int" default="32" minOccurs="0"/>
      <xs:element name="VisibleNoteColumns" type="xs:int" default="4" minOccurs="0"/>
      <xs:element name="VisibleEffectColumns" type="xs:int" default="1" minOccurs="0"/>
      <xs:element name="NoteColumnNames" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NoteColumnName" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="NoteColumnStates" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NoteColumnState" default="Active" minOccurs="0" maxOccurs="unbounded">
              <xs:simpleType>
                <xs:restriction base="xs:string">
                  <xs:enumeration value="Active"/>
                  <xs:enumeration value="Off"/>
                  <xs:enumeration value="Mute"/>
                </xs:restriction>
              </xs:simpleType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="InstrumentColumnIsVisible" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="VolumeColumnIsVisible" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="PanningColumnIsVisible" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="DelayColumnIsVisible" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SampleEffectsColumnIsVisible" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="TriggerOptions" minOccurs="0" type="InstrumentPhraseTriggerOptions"/>
    </xs:all>
    <xs:attribute name="doc_version" use="required" type="xs:int" fixed="2"/>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="PatternLineNode">
    <xs:all>
      <xs:element name="NoteColumns" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NoteColumn" minOccurs="0" maxOccurs="unbounded" type="PatternLineNoteColumnNode"/>
          </xs:sequence>
          <xs:attribute name="type" use="optional" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="EffectColumns" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EffectColumn" minOccurs="0" maxOccurs="unbounded" type="PatternLineEffectColumnNode"/>
          </xs:sequence>
          <xs:attribute name="type" use="optional" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="index" use="required" type="xs:int"/>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="PatternLineNoteColumnNode">
    <xs:all>
      <xs:element name="Note" type="xs:string" minOccurs="0"/>
      <xs:element name="Instrument" type="xs:string" minOccurs="0"/>
      <xs:element name="Volume" type="xs:string" minOccurs="0"/>
      <xs:element name="Panning" type="xs:string" minOccurs="0"/>
      <xs:element name="Delay" type="xs:string" minOccurs="0"/>
      <xs:element name="EffectNumber" type="xs:string" minOccurs="0"/>
      <xs:element name="EffectValue" type="xs:string" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="PatternLineEffectColumnNode">
    <xs:all>
      <xs:element name="Value" type="xs:string" minOccurs="0"/>
      <xs:element name="Number" type="xs:string" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="InstrumentPhraseTriggerOptions">
    <xs:all>
      <xs:element name="BaseNote" type="xs:int" default="48" minOccurs="0"/>
      <xs:element name="KeyTracking" default="Transpose" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="None"/>
            <xs:enumeration value="Transpose"/>
            <xs:enumeration value="Offset"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Loop" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="LoopStart" type="xs:int" default="0" minOccurs="0"/>
      <xs:element name="LoopEnd" type="xs:int" default="32" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
</xs:schema>
