docs/Renoise_3_5_4_Demo_Linux_x86_64/Resources/Schemas/InstrumentPhrase0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="InstrumentPhrase" type="InstrumentPhrase"/>
  <xs:complexType name="InstrumentPhrase">
    <xs:all>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Lines" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Line" minOccurs="0" maxOccurs="unbounded" type="PatternLineNode"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="LinesPerBeat" type="xs:int" default="4" minOccurs="0"/>
      <xs:element name="NumberOfLines" type="xs:int" default="32" minOccurs="0"/>
      <xs:element name="VisibleNoteColumns" type="xs:int" default="4" minOccurs="0"/>
      <xs:element name="VisibleEffectColumns" type="xs:int" default="1" minOccurs="0"/>
      <xs:element name="VolumeColumnIsVisible" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="PanningColumnIsVisible" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="DelayColumnIsVisible" type="xs:boolean" default="false" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="doc_version" use="required" type="xs:int" fixed="0"/>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="PatternLineNode">
    <xs:all>
      <xs:element name="NoteColumns" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="NoteColumn" minOccurs="0" maxOccurs="unbounded" type="PatternLineNoteColumnNode"/>
          </xs:sequence>
          <xs:attribute name="type" use="optional" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="EffectColumns" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="EffectColumn" minOccurs="0" maxOccurs="unbounded" type="PatternLineEffectColumnNode"/>
          </xs:sequence>
          <xs:attribute name="type" use="optional" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="index" use="required" type="xs:int"/>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="PatternLineNoteColumnNode">
    <xs:all>
      <xs:element name="Note" type="xs:string" minOccurs="0"/>
      <xs:element name="Instrument" type="xs:string" minOccurs="0"/>
      <xs:element name="Volume" type="xs:string" minOccurs="0"/>
      <xs:element name="Panning" type="xs:string" minOccurs="0"/>
      <xs:element name="Delay" type="xs:string" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="PatternLineEffectColumnNode">
    <xs:all>
      <xs:element name="Value" type="xs:string" minOccurs="0"/>
      <xs:element name="Number" type="xs:string" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
</xs:schema>
