docs/Renoise_3_5_4_Demo_Linux_x86_64/Resources/Schemas/SampleModulationSet5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified" elementFormDefault="qualified">
  <xs:element name="SampleModulationSet" type="SampleModulationSet"/>
  <xs:complexType name="SampleModulationSet">
    <xs:all>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Devices" minOccurs="0">
        <xs:complexType>
          <xs:sequence minOccurs="0" maxOccurs="unbounded">
            <xs:element name="SampleAhdsrModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleAhdsrModulationDevice"/>
            <xs:element name="SampleAutoAmpModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleAutoAmpModulationDevice"/>
            <xs:element name="SampleCompatibilityModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleCompatibilityModulationDevice"/>
            <xs:element name="SampleEnvelopeModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleEnvelopeModulationDevice"/>
            <xs:element name="SampleFaderModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleFaderModulationDevice"/>
            <xs:element name="SampleKeyTrackingModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleKeyTrackingModulationDevice"/>
            <xs:element name="SampleLfoModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleLfoModulationDevice"/>
            <xs:element name="SampleMixerModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleMixerModulationDevice"/>
            <xs:element name="SampleOperandModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleOperandModulationDevice"/>
            <xs:element name="SampleStepperModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleStepperModulationDevice"/>
            <xs:element name="SampleVelocityTrackingModulationDevice" minOccurs="0" maxOccurs="unbounded" type="SampleVelocityTrackingModulationDevice"/>
          </xs:sequence>
          <xs:attribute name="type" use="optional" type="xs:string"/>
        </xs:complexType>
      </xs:element>
      <xs:element name="Name" type="xs:string" minOccurs="0"/>
      <xs:element name="FilterType" type="xs:int" default="0" minOccurs="0"/>
      <xs:element name="FilterBankVersion" type="xs:int" default="3" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="doc_version" use="required" type="xs:int" fixed="5"/>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="SampleAhdsrModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleAhdsrModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleAhdsrModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Attack" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Hold" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Decay" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Sustain" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Release" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="AttackScaling" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="DecayScaling" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="ReleaseScaling" minOccurs="0" type="SampleModulationDeviceParameter"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleAhdsrModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleAhdsrModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleAhdsrModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
  <xs:complexType name="FilterDeviceIsActiveParameter">
    <xs:all>
      <xs:element name="Value" type="xs:float" default="1.0" minOccurs="0"/>
      <xs:element name="Visualization" default="Device only" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dont Show"/>
            <xs:enumeration value="Device only"/>
            <xs:enumeration value="Mixer and Device"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MidiMappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MidiMapping" minOccurs="0" maxOccurs="unbounded" type="MidiMapping"/>
          </xs:sequence>
          <xs:attribute name="type" use="optional" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="MidiMapping">
    <xs:all>
      <xs:element name="MappingMode" default="Controllers" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Controllers"/>
            <xs:enumeration value="Notes"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="ControllerMode" default="Absolute 7 bit" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Absolute 7 bit"/>
            <xs:enumeration value="Relative signed bit"/>
            <xs:enumeration value="Relative signed bit 2"/>
            <xs:enumeration value="Relative bin offset"/>
            <xs:enumeration value="Relative two's comp"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="NoteMode" default="Value" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Trigger"/>
            <xs:enumeration value="Gate"/>
            <xs:enumeration value="Value"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Channel" type="xs:int" default="0" minOccurs="0"/>
      <xs:element name="CCNumberOrNote" type="xs:int" default="0" minOccurs="0"/>
      <xs:element name="Min" type="xs:float" default="0.0" minOccurs="0"/>
      <xs:element name="Max" type="xs:float" default="1.0" minOccurs="0"/>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="SampleModulationDeviceParameter">
    <xs:all>
      <xs:element name="Value" type="xs:float" default="0.118563108" minOccurs="0"/>
      <xs:element name="Visualization" default="Device only" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dont Show"/>
            <xs:enumeration value="Device only"/>
            <xs:enumeration value="Mixer and Device"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MidiMappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MidiMapping" minOccurs="0" maxOccurs="unbounded" type="MidiMapping"/>
          </xs:sequence>
          <xs:attribute name="type" use="optional" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="SampleAutoAmpModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleAutoAmpModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleAutoAmpModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Attack" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Release" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Amount" minOccurs="0" type="SampleModulationDeviceParameter"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleAutoAmpModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleAutoAmpModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleAutoAmpModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
  <xs:complexType name="SampleCompatibilityModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleCompatibilityModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleCompatibilityModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="EnvelopeIsActive" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="EnvelopeSustainIsActive" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="EnvelopeSustainPos" type="xs:int" default="0" minOccurs="0"/>
      <xs:element name="EnvelopeLoopStart" type="xs:int" default="0" minOccurs="0"/>
      <xs:element name="EnvelopeLoopEnd" type="xs:int" default="71" minOccurs="0"/>
      <xs:element name="EnvelopeLoopMode" default="Off" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Off"/>
            <xs:enumeration value="Forward"/>
            <xs:enumeration value="Backward"/>
            <xs:enumeration value="PingPong"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="EnvelopeDecay" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="EnvelopeNodes" minOccurs="0" type="Envelope"/>
      <xs:element name="Lfo1Mode" type="xs:int" default="-1" minOccurs="0"/>
      <xs:element name="Lfo1Dephase" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Lfo1Frequency" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Lfo1Amplitude" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Lfo2Mode" type="xs:int" default="-1" minOccurs="0"/>
      <xs:element name="Lfo2Dephase" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Lfo2Frequency" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Lfo2Amplitude" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="AutoAmpIsActive" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="AutoAmpAttack" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="AutoAmpRelease" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="AutoAmpAmount" minOccurs="0" type="SampleModulationDeviceParameter"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleCompatibilityModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleCompatibilityModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleCompatibilityModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
  <xs:complexType name="Envelope">
    <xs:all>
      <xs:element name="PlayMode" default="Curves" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Points"/>
            <xs:enumeration value="Lines"/>
            <xs:enumeration value="Curves"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Length" type="xs:int" default="72" minOccurs="0"/>
      <xs:element name="ValueQuantum" type="xs:float" default="0.0" minOccurs="0"/>
      <xs:element name="Polarity" default="Unipolar" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Unipolar"/>
            <xs:enumeration value="Bipolar"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Points" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="Point" type="xs:string" default="-1,-1,0.0" minOccurs="0" maxOccurs="unbounded"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="SampleEnvelopeModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleEnvelopeModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleEnvelopeModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SustainIsActive" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SustainPos" type="xs:int" default="0" minOccurs="0"/>
      <xs:element name="LoopStart" type="xs:int" default="0" minOccurs="0"/>
      <xs:element name="LoopEnd" type="xs:int" default="71" minOccurs="0"/>
      <xs:element name="LoopMode" default="Off" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Off"/>
            <xs:enumeration value="Forward"/>
            <xs:enumeration value="Backward"/>
            <xs:enumeration value="PingPong"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Decay" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Nodes" minOccurs="0" type="Envelope"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleEnvelopeModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleEnvelopeModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleEnvelopeModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
  <xs:complexType name="SampleFaderModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleFaderModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleFaderModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Scaling" default="Linear" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Log Fast"/>
            <xs:enumeration value="Log Slow"/>
            <xs:enumeration value="Linear"/>
            <xs:enumeration value="Exp Slow"/>
            <xs:enumeration value="Exp Fast"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="From" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="To" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Duration" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Delay" minOccurs="0" type="SampleModulationDeviceParameter"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleFaderModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleFaderModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleFaderModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
  <xs:complexType name="SampleKeyTrackingModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleKeyTrackingModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleKeyTrackingModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Min" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Max" minOccurs="0" type="SampleModulationDeviceParameter"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleKeyTrackingModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleKeyTrackingModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleKeyTrackingModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
  <xs:complexType name="SampleLfoModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleLfoModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleLfoModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Mode" default="Sin" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Sin"/>
            <xs:enumeration value="Saw"/>
            <xs:enumeration value="Pulse"/>
            <xs:enumeration value="Random"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Frequency" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Amplitude" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Dephase" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Delay" minOccurs="0" type="SampleModulationDeviceParameter"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleLfoModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleLfoModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleLfoModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
  <xs:complexType name="SampleMixerModulationDevice">
    <xs:all>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Volume" minOccurs="0" type="FilterDeviceParameter"/>
      <xs:element name="Panning" minOccurs="0" type="FilterDeviceParameter"/>
      <xs:element name="Pitch" minOccurs="0" type="FilterDeviceParameter"/>
      <xs:element name="PitchModulationRange" type="xs:float" default="12" minOccurs="0"/>
      <xs:element name="Cutoff" minOccurs="0" type="FilterDeviceParameter"/>
      <xs:element name="Resonance" minOccurs="0" type="FilterDeviceParameter"/>
      <xs:element name="Drive" minOccurs="0" type="FilterDeviceParameter"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleMixerModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="FilterDeviceParameter">
    <xs:all>
      <xs:element name="Value" type="xs:float" default="1.0" minOccurs="0"/>
      <xs:element name="Visualization" default="Device only" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Dont Show"/>
            <xs:enumeration value="Device only"/>
            <xs:enumeration value="Mixer and Device"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="MidiMappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MidiMapping" minOccurs="0" maxOccurs="unbounded" type="MidiMapping"/>
          </xs:sequence>
          <xs:attribute name="type" use="optional" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="SampleOperandModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleOperandModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleOperandModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Value" minOccurs="0" type="SampleModulationDeviceParameter"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleOperandModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleOperandModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleOperandModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
  <xs:complexType name="SampleStepperModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleStepperModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleStepperModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="StepAmount" type="xs:int" default="1" minOccurs="0"/>
      <xs:element name="Reset" minOccurs="0" type="SampleModulationDeviceNonContinousParameter"/>
      <xs:element name="Nodes" minOccurs="0" type="Envelope"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleStepperModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleStepperModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleStepperModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
  <xs:complexType name="SampleModulationDeviceNonContinousParameter">
    <xs:all>
      <xs:element name="MidiMappings" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MidiMapping" minOccurs="0" maxOccurs="unbounded" type="MidiMapping"/>
          </xs:sequence>
          <xs:attribute name="type" use="optional" type="xs:string"/>
        </xs:complexType>
      </xs:element>
    </xs:all>
    <xs:attribute name="type" use="optional" type="xs:string"/>
  </xs:complexType>
  <xs:complexType name="SampleVelocityTrackingModulationDevice">
    <xs:all>
      <xs:element name="CustomDeviceName" type="xs:string" minOccurs="0"/>
      <xs:element name="IsMaximized" type="xs:boolean" default="true" minOccurs="0"/>
      <xs:element name="IsSelected" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="SelectedPresetName" type="xs:string" default="Init" minOccurs="0"/>
      <xs:element name="SelectedPresetLibrary" type="xs:string" default="Bundled Content" minOccurs="0"/>
      <xs:element name="SelectedPresetIsModified" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="RunTimePresetA" minOccurs="0" type="SampleVelocityTrackingModulationDevicePreset"/>
      <xs:element name="RunTimePresetB" minOccurs="0" type="SampleVelocityTrackingModulationDevicePreset"/>
      <xs:element name="IsActive" minOccurs="0" type="FilterDeviceIsActiveParameter"/>
      <xs:element name="Target" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Volume"/>
            <xs:enumeration value="Panning"/>
            <xs:enumeration value="Pitch"/>
            <xs:enumeration value="Cutoff"/>
            <xs:enumeration value="Resonance"/>
            <xs:enumeration value="Drive"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Operator" default="*" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="+"/>
            <xs:enumeration value="-"/>
            <xs:enumeration value="*"/>
            <xs:enumeration value="/"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
      <xs:element name="Bipolar" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="TempoSynced" type="xs:boolean" default="false" minOccurs="0"/>
      <xs:element name="Min" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Max" minOccurs="0" type="SampleModulationDeviceParameter"/>
      <xs:element name="Mode" default="Clamp" minOccurs="0">
        <xs:simpleType>
          <xs:restriction base="xs:string">
            <xs:enumeration value="Clamp"/>
            <xs:enumeration value="Scale"/>
          </xs:restriction>
        </xs:simpleType>
      </xs:element>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="SampleVelocityTrackingModulationDevice"/>
  </xs:complexType>
  <xs:complexType name="SampleVelocityTrackingModulationDevicePreset">
    <xs:all>
      <xs:element name="DeviceSlot" minOccurs="0" type="SampleVelocityTrackingModulationDevice"/>
    </xs:all>
    <xs:attribute name="type" use="required" type="xs:string" fixed="FilterDevicePreset"/>
  </xs:complexType>
</xs:schema>
